@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
a,
button,
textarea,
select {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body {
  font-family: "Gilroy", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 115px 1fr;
  grid-template-areas: "nav header" "nav main";
  max-width: 1280px;
  min-height: 880px;
  margin: 160px auto;
  font-family: "Gilroy", sans-serif;
  border-radius: 14px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 100px 1fr;
    grid-template-areas: "nav" "header" "main";
    margin: 0px auto;
  }
}

.nav {
  display: grid;
  grid-template-columns: 98px;
  grid-template-rows: 1fr repeat(7, px) 1fr;
  grid-area: nav;
  background: #282c31;
  border: 1px solid #4d4d4d;
}
@media screen and (max-width: 992px) {
  .nav {
    grid-template-columns: 200px repeat(7, 60px) 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    grid-template-columns: 150px repeat(7, 60px) 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    grid-template-columns: 150px 120px 1fr;
    grid-template-rows: 98px;
    align-self: center;
  }
}
.nav__logo {
  margin: 3.3em auto 8.2em;
}
@media screen and (max-width: 992px) {
  .nav__logo {
    margin: 2.5em 6.2em auto 2.5em;
  }
}
@media screen and (max-width: 576px) {
  .nav__logo {
    margin: 2.5em 6.2em auto 1.5em;
  }
}
.nav__link {
  margin: 1.2em 2.2em;
}
@media screen and (max-width: 992px) {
  .nav__link {
    margin: 2.5em auto;
  }
}
@media screen and (max-width: 576px) {
  .nav__link {
    display: none;
  }
}
.nav input[type=checkbox] {
  visibility: hidden;
  display: none;
}
.nav__check {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  margin: 142px 18px 48px 18px;
  background: #fdfdff;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  transition: ease-in 0.6s;
}
@media screen and (max-width: 992px) {
  .nav__check {
    margin: 34px auto;
  }
}
@media screen and (max-width: 576px) {
  .nav__check {
    display: none;
  }
}
input[type=checkbox]:checked ~ .nav__check {
  background-color: #7f7fd5;
}
.nav__check:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #7f7fd5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.6s;
}
input[type=checkbox]:checked ~ .nav__check:before {
  transform: translateX(-50px);
}
.nav__check:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fdfdff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.6s;
  transform: translateX(50px);
}
input[type=checkbox]:checked ~ .nav__check:after {
  transform: translateX(0px);
}

.header {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  grid-template-rows: 115px;
  grid-area: header;
  background: #212427;
  border: 1px solid #4d4d4d;
}
@media screen and (max-width: 992px) {
  .header {
    grid-template-columns: 250px 250px 350px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 250px 250px 300px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    grid-template-columns: 200px 220px;
  }
}
.header__title {
  align-self: center;
  margin-left: 3em;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .header__title {
    margin-left: 1em;
  }
}
@media screen and (max-width: 576px) {
  .header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 0.2em;
  }
}
.header__search-form {
  display: flex;
  align-items: center;
  margin-left: 2.8em;
}
@media screen and (max-width: 576px) {
  .header__search-form {
    display: none;
  }
}
.header__search {
  height: 32px;
  width: 153px;
  color: #fff;
  background: #212427;
  border: 1px solid #4c4c4c;
  border-radius: 8px;
}
.header__search:focus {
  outline: 1px solid #cacaca;
}
.header__notification-btn {
  padding: 0;
  margin-left: 0.9em;
  background: #212427;
  border: none;
}
.header__profile {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 3.8em;
}
.header__user-name {
  margin-right: 0.7em;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 576px) {
  .header__user-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
}
.header__avatar {
  padding: 0;
  margin-right: 0.6em;
}
.header__logdown-btn {
  align-items: center;
  height: max-content;
  padding: 0;
  background: #212427;
  border: none;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 341px);
  grid-template-rows: 148px 242px 242px;
  grid-template-areas: "card card card" "grafics grafics cake" "diagram diagram progress";
  grid-area: main;
  grid-gap: 2em;
  padding: 2.5em;
  background: #212427;
}
@media screen and (max-width: 992px) {
  .main {
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: 148px 242px 242px 242px;
    grid-template-areas: "card card card" "grafics grafics grafics" "diagram diagram diagram" "cake progress progress";
    grid-gap: 1.5em;
    padding: 2em;
  }
}
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: 148px 242px 242px 242px;
    grid-template-areas: "card card card" "grafics grafics grafics" "diagram diagram diagram" "cake progress progress";
    grid-gap: 1.5em;
    padding: 2em;
  }
}
@media screen and (max-width: 576px) {
  .main {
    grid-template-columns: 320px;
    grid-template-rows: repeat(3, 148px) repeat(5, 220px);
    grid-template-areas: "card" "card" "card" "grafics" "diagram" "cake" "progress";
    grid-gap: 1.5em;
    padding: 2em;
  }
}

.card {
  grid-area: auto;
  grid-column: span 1;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  padding: 1.5em;
  background: #282c31;
  border-radius: 14px;
  border: 1px solid #4d4d4d;
}
@media screen and (max-width: 992px) {
  .card {
    padding: 1em;
  }
}
@media screen and (max-width: 576px) {
  .card {
    grid-row: span 1;
    grid-template-rows: auto;
  }
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .card__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
  }
}
@media screen and (max-width: 576px) {
  .card__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
  }
}
.card__menu-btn {
  display: flex;
  justify-content: end;
  margin-top: 0.3em;
}
.card__information {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #cacaca;
}
.card__statistics {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #cacaca;
}
.card__arrow {
  margin-bottom: 0.2em;
  margin-left: 0.8em;
}
@media screen and (max-width: 992px) {
  .card__arrow {
    margin-left: 0.5em;
  }
}

.grafics {
  grid-area: grafics;
  background: #282c31;
  border: 1px solid #4d4d4d;
  border-radius: 14px;
}
@media screen and (max-width: 576px) {
  .grafics {
    overflow: auto;
  }
}
.grafics__header {
  display: flex;
  align-items: center;
  padding: 1.7em 3.9em 1.5em 0.9em;
}
@media screen and (max-width: 768px) {
  .grafics__header {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .grafics__header {
    padding: 1.7em 1.5em 1.5em 0.9em;
  }
}
.grafics__title {
  margin-right: 150px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .grafics__title {
    margin-right: 7em;
  }
}
@media screen and (max-width: 576px) {
  .grafics__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 0.5em;
  }
}
.grafics__calendar {
  margin-top: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #cacaca;
}
.grafics__dropdown-icons {
  margin-top: 3px;
  margin-left: 9px;
  margin-right: 0.5em;
}
.grafics input[type=checkbox] {
  display: none;
}
.grafics__checkbox-total + label {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #cacaca;
  text-align: center;
}
.grafics__checkbox-total + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #e786d7;
  background: #282c31;
  color: #e786d7;
}
.grafics__checkbox-follower + label {
  padding-left: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: #cacaca;
}
.grafics__checkbox-follower + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #7f7fd5;
  background: #282c31;
  color: #282c31;
}
.grafics__img {
  min-width: 568px;
  max-height: 120px;
}

.diagram {
  grid-area: diagram;
  background: #282c31;
  border: 1px solid #4d4d4d;
  border-radius: 14px;
}
@media screen and (max-width: 576px) {
  .diagram {
    overflow: auto;
  }
}
.diagram__header {
  display: flex;
  align-items: center;
}
.diagram__title {
  display: inline-block;
  padding: 1.3em 18em 1em 1.5em;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 576px) {
  .diagram__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    padding: 1.3em 2em 1em 1em;
  }
}
.diagram input[type=checkbox] {
  display: none;
}
.diagram__checkbox-women + label {
  margin-right: 2em;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: #cacaca;
}
@media screen and (max-width: 768px) {
  .diagram__checkbox-women + label {
    margin-right: 1em;
  }
}
@media screen and (max-width: 576px) {
  .diagram__checkbox-women + label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-right: 1em;
  }
}
.diagram__checkbox-women + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #e786d7;
  border-radius: 5px;
  background: #e786d7;
  color: #e786d7;
}
@media screen and (max-width: 576px) {
  .diagram__checkbox-women + label::before {
    margin-top: 5px;
  }
}
.diagram__checkbox-man + label {
  margin-right: 3em;
  padding-left: 14px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: #cacaca;
}
@media screen and (max-width: 576px) {
  .diagram__checkbox-man + label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 10px;
  }
}
.diagram__checkbox-man + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #7f7fd5;
  border-radius: 5px;
  background: #7f7fd5;
  color: #7f7fd5;
}
@media screen and (max-width: 576px) {
  .diagram__checkbox-man + label::before {
    margin-left: 10px;
  }
}
.diagram__img {
  min-width: 568px;
  max-height: 160px;
}

.cake {
  grid-area: cake;
  background: #282c31;
  border: 1px solid #4d4d4d;
  border-radius: 14px;
}
.cake__title {
  padding: 1em 6em 1.5em 2.5em;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .cake__title {
    padding: 1em 1.5em 1em 1.5em;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
  }
}
@media screen and (max-width: 576px) {
  .cake__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
  }
}
.cake__content {
  display: flex;
}
.cake__img {
  margin: 0em 2em 1em 2.7em;
}
@media screen and (max-width: 992px) {
  .cake__img {
    margin: 1em;
  }
}
@media screen and (max-width: 768px) {
  .cake__img {
    margin: 0.6em;
  }
}
.cake__checkbox {
  display: flex;
  flex-direction: column;
}
.cake input[type=checkbox] {
  display: none;
}
.cake__checkbox-desktop + label {
  padding-right: 26px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .cake__checkbox-desktop + label {
    padding: 14px;
  }
}
@media screen and (max-width: 768px) {
  .cake__checkbox-desktop + label {
    padding: 10px;
  }
}
@media screen and (max-width: 576px) {
  .cake__checkbox-desktop + label {
    padding: 14px;
  }
}
.cake__checkbox-desktop + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #e786d7;
  border-radius: 5px;
  background: #e786d7;
  color: #e786d7;
}
.cake__checkbox-mobile + label {
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .cake__checkbox-mobile + label {
    padding: 14px;
  }
}
@media screen and (max-width: 768px) {
  .cake__checkbox-mobile + label {
    padding: 10px;
  }
}
@media screen and (max-width: 576px) {
  .cake__checkbox-mobile + label {
    margin-left: 24px;
    padding: 14px;
  }
}
.cake__checkbox-mobile + label::before {
  content: "✓";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid #7f7fd5;
  border-radius: 5px;
  background: #7f7fd5;
  color: #7f7fd5;
}

.progress {
  grid-area: progress;
  padding: 1.5em 0.3em 1.8em 1.5em;
  background: #282c31;
  border-radius: 14px;
  border: 1px solid #4d4d4d;
}
@media screen and (max-width: 992px) {
  .progress {
    padding: 1em 3.5em 1em 5em;
  }
}
@media screen and (max-width: 576px) {
  .progress {
    padding: 2em 2.5em 1em 2.5em;
  }
}
.progress__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.2em;
}
.progress__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .progress__title {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .progress__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
  }
}
.progress__btn-country {
  margin-left: 16em;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #cacaca;
}
@media screen and (max-width: 576px) {
  .progress__btn-country {
    margin-left: 11em;
  }
}
.progress__btn-city {
  padding-left: 0.3em;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #979797;
}

/*# sourceMappingURL=/scss.6b84482b.css.map */